<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1 class="centered"><%= title %></h1>
    <form action="/register" method="POST">
      <label for="name">Name</label>
      <input id="name" type="text" name="name" />
      <label for="email">E-Mail Address</label>
      <input id="email" type="text" name="email" />
      <label for="usn">VTU USN</label>
      <input id="usn" type="text" name="usn" />
      <input class="button" type="submit" value="Register" />
    </form>

    <h2 class="centered">How it works?</h2>
    <h3 class="centered">Fill this form and you will get an email as soon as your results are out!</h3>
    <h4 class="centered">Simple and convenient, isn't it?</h4>
    <h5 class="centered">by <a href="http://www.shantanutushar.com">Shantanu Tushar</a></h5>
    <h5 class="centered">Contact-</h5>
    <p class="centered">
      <a href="https://joindiaspora.com/u/shaan7"><img alt="diaspora" src="http://www.shantanutushar.com/sites/default/files/images/diaspora.png" style="width: 30px; height: 30px;" /></a>
      <a href="http://www.facebook.com/shantanu.tushar"><img alt="fb" src="http://www.shantanutushar.com/sites/default/files/images/facebook.png" style="width: 30px; height: 30px;" /></a>
      <a href="http://www.flickr.com/photos/8748559@N04/"><img alt="" src="http://www.shantanutushar.com/sites/default/files/images/flickr.png" style="width: 30px; height: 30px;" /></a>
      <a href="http://www.linkedin.com/in/shantanutushar"><img alt="linkedin" src="http://www.shantanutushar.com/sites/default/files/images/linkedin.png" style="width: 30px; height: 30px;" /></a>
      <a href="http://twitter.com/shantanutushar"><img alt="twitter" src="http://www.shantanutushar.com/sites/default/files/images/twitter.png" style="width: 30px; height: 30px;" /></a>
      <a href="http://identi.ca/shantanutushar"><img alt="identi.ca" src="http://www.shantanutushar.com/sites/default/files/images/identica.png" style="width: 30px; height: 30px;" /></a>
      <a href="https://github.com/shaan7"><img alt="github" src="http://www.shantanutushar.com/sites/default/files/images/github.png" style="width: 30px; height: 30px;" /></a>
    </p>
    <hr /><p class="centered"><iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fvturesultsnotify&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=174350905955478" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
    </p>
  </body>
</html>