<!DOCTYPE html>
<html>
  <% include header %>
  <body>
    <h1 class="centered"><%= title %></h1>
    
    <form action="/register" method="POST">
        <% if(typeof err !== "undefined" ){ %>
                <ul id="errors">
                        <% for(var key in err){ %>
                                <li><%= err[key].param + ' ' + err[key].msg %></li>
                        <% } %>
                </ul>
        <% } %>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" />
      <label for="email">E-Mail Address</label>
      <input id="email" type="text" name="email" />
      <label for="usn">VTU USN</label>
      <input id="usn" type="text" name="usn" />
      <input class="button" type="submit" value="Register" />
    </form>

    <hr />
    <h1 class="centered">NOTICE: We are having technical difficulties sending emails, and things won't work until this notice disappears</h1>
    <hr />
    <h2 class="centered">How it works?</h2>
    <h3 class="centered">Fill this form and you will get an email as soon as your results are out!</h3>
    <h4 class="centered">Simple and convenient, isn't it?</h4>
    <% include footer %>
  </body>
</html>
